NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_KAKAO_JS_KEY=

# Calendar OAuth redirect URLs registered at each provider:
# http://localhost:3000/oauth/google
# http://localhost:3000/oauth/kakao
# http://localhost:3000/oauth/naver
# https://dk1k75g0ji3vw.cloudfront.net/oauth/google
# https://dk1k75g0ji3vw.cloudfront.net/oauth/kakao
# https://dk1k75g0ji3vw.cloudfront.net/oauth/naver
